<div class="panel panel-default">
    <div class="panel-heading center-text">
        <h2>Forgot Password</h2>
    </div>

    <div class="panel-body">
        <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
            <div class="formGroup">
                <div class="row justify-content-center">
                    <div class="col col-md-4 pb-3">
                        <input type="text" formControlName="email" class="form-control center-text" id="email" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-md-4 pb-2 center-text">
                    <button type="submit" class="btn btn-primary white-text">Reset Password</button>
                </div>
            </div>
        </form>

        <div class="row justify-content-center pt-3">
            <a routerLink="/login">Login</a>
        </div>

        <div class="row justify-content-center">
            <a routerLink="/register">Sign Up</a>
        </div>

    </div>
    
</div>


